* {
  text-align: center;
  font-family: "Cascadia Code", sans-serif;
}

body {
  background-color: rgb(39, 37, 37);
  width: 350px;
}


/* Main content */

/* Styles for the title */
.title {
  color: gray; 
  margin-bottom: 24px;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.mainbody {
  margin-bottom: 5px;
}

/* Error message */

.error-message {
  color: red;
  font-size: 12px;
  margin-top: -1em;
}

/*Toggle button for extra strings*/
.toggle {
  display: flex;
  align-items: center;
}

.toggle span {
  color: #ccc;
  font-size: 12px;
  margin-left: 5px;
}

/*Footer */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Copy animation */
@keyframes copiedAnimation {
  0% {
    background-color: #fff;
  }
  50% {
    background-color: #4caf50;
  }
  100% {
    background-color: #fff;
  }
}

.copied {
  animation: copiedAnimation 1s;
}

/*fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Apply the fade-in animation*/
body {
  animation: fadeIn 0.2s ease-in forwards;
}

